.about{
    background: #111111;
    /* height: 100vh;
    width: 100%; */
    padding-bottom: 20%;
    z-index: 2;
    position: relative;
}


.title_section_about{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
}
.title_section_about h1{
    font-size: 40px;
    font-weight: 900!important;  
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}

.title_section_about h1 span{
    color: #F44336;
}





















