

.timelineE{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container_education {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container_education:nth-child(1){
    animation-delay: 0s;
}
.container_education:nth-child(2){
    animation-delay: 1s;
}
.container_education:nth-child(3){
    animation-delay: 2s;
}

.container_education:nth-child(4){
    animation-delay: 3s;
}
.container_education:nth-child(5){
    animation-delay: 4s;
}
.container_education:nth-child(6){
    animation-delay: 5s;
}





.text_box{
    padding: 20px 30px;
    /* background: #fff; */
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    border: 1px solid #fff;
}

.text_box p{
    color: #fff;
    opacity: 0.9;
}

.left_container{
    left: 0;
}

.rigth_container{
    left: 50%;
}



.container_education .img_education{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    background: #F44336;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rigth_container .img_education{
    left: -20px;
}

.timelineE::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 6px;
    background:#464545;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text_box h2{
    font-weight: 600;
    color: #fff;
}

.text_box small{
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    opacity: 0.8;
    background: #9e9e9e7a;
    padding: 5px;
    border-radius: 15px;
}

.left_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.rigth_container_arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width:600px){
    .timelineE{
        margin: 50px auto;
    }
    .timelineE::after{
        left: 31px;
    }
    .container_education{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text_box{
        font-size: 13px;
    }
    .text_box small{
        margin-bottom: 10px;
    }
    .rigth_container{
        left: 0;
    }

    .left_container .img_education,.rigth_container .img_education{
        left: 10px;
    }

    .left_container_arrow,.rigth_container_arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}